body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffee00;
    color: #333;
    scroll-behavior: smooth;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background-color: #555;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(171, 173, 26);
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#imagem {
    display: flex;
    justify-content: center;
}

#disque100 {
    display: flex;
    justify-content: space-evenly;
}

.maiolaranja {
    color: orange;
}